<div class="container">
        <h1 style="text-align: center; text-decoration: underline">GitHub Search</h1>
        <div class="col-md-6">
            <app-search-form></app-search-form>
        </div>

    

    <div class="card">

        <div class="card-block">
            <div class="row">
                <div class="col-xl-4 m-b-1">
                    <img src="{{user.avatar_url}}" class="profile-img img-thumbnail m-b-1"/>
                    <p style="text-align: center">Click below to view profile</p>
                    <a class="btn btn-sm btn-outline-primary btn-block m-t-1" href="{{user.html_url}}" target="_blank">View Profile</a>


                </div>

                <div class="col-md-8">
                    
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Username: </b>{{user.login}}
                        </li>
                        <li class="list-group-item">
                            <b>Repositories: </b>{{ user.public_repos }}
                        </li>
                        <li class="list-group-item">
                            <b>Followers: </b>{{ user.followers }}
                        </li>

                        <li class="list-group-item">
                            <b>Following: </b>{{ user.following }}
                        </li>

                        <li class="list-group-item">
                            <b>Location: </b>{{ user.location }}
                        </li>

                        <li class="list-group-item">
                            <b>Email: </b>{{ user.email }}
                        </li>
                       
                    </ul>
                </div>




            </div>
        </div>
    </div>
